openai_whisper==20240930
torch==2.5.1
torchaudio==2.5.1
huggingface_hub
ichigo-whisper==2.3.0
IPython
pyarrow
matplotlib
librosa
soundfile
datasets
encodec
boto3
fire
webdataset==0.2.85
whisperspeech
numpy==1.26.4
ray
vllm